.section-burger-ingridients {
  max-width: 600px;

  max-width: 100vw;
  margin: 0 0 0 60px;
  max-height: 830px;
}

.section-burger-ingridients__list {
  overflow-x: scroll;
  margin: 0;
  max-height: calc(100% - 200px);
}

.section-burger-ingridients__list::-webkit-scrollbar {
  width: 8px;
}
.section-burger-ingridients__list::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.section-burger-ingridients__list::-webkit-scrollbar-corner {
  visibility: hidden;
}
.section-burger-menu__cards-ingridients {
  display: grid;
  grid-template-columns: repeat(2, 272px);
  grid-template-rows: repeat(auto, 208px);
  grid-gap: 40px;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.section-burger-menu__card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
